.section {
  transform: translate(0%, -16%);

  .welcome {
    transform: translate(0, 400%);
    opacity: 0;

    &.welcome-enter {
      transform: translate(0, 0);
      opacity: 0.6;
      transition: transform 1s, background-color 100ms, opacity 200ms;
    }

    &.welcome-enter-active {
    }

    &.welcome-exit {
      background-color: green;
    }

    &.welcome-enter-done {
      transform: translate(0, 0);
      opacity: 1;
      transition: background-color 200ms, opacity 200ms;
    }

    & > .row {
      padding-left: 40px;
      &:last-child {
        padding-left: 52px;
        &>button{
            color: white;
        }
      }
    }
  }
  h1 {
    font-size: 4.2rem;
    letter-spacing: 2px;
  }

  .white {
    color: white;
  }

  

  //   NOTE welcome section effect
}
