.custom-navbar {
  // color: white;
  width: 100%;
  .white {
    color: white;
  }

  .brand {
    font-size: 2rem;
    color: white;
    font-weight: 600;
  }

  .link{
      font-size: 1.2rem;
  }
}
