.custom-container{
  // position: relative;
  // left: 0;
  // top: 0;
  min-height: 100vh;
  // width: 100vw;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  background-color: #744fc6;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px 20px;
}
